/* Slider Styles
-------------------*/
.slider {
	@include clearfix();
	height: 180px; 				// Set max height of slider
	overflow-x: hidden;
	padding: 0 18px;
	position: relative;
	width: 100%;
	
	// Container for the slides and controls
	.slide-outer {
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 2000px;			// Calculated outer width to contain all slides
		z-index: 50;
		
		// Container for each item/slides
		.slide {
			float: left;
			height: 100%;
			padding: 0 0.8em;
			text-align: center;
			width: 200px;		// Set width of slide
			
			a {
				background-color: $grey;
				display: block;
				height: 100%;
			}
		}
	}
	.slide-left,
	.slide-right {
		background-color: $grey-dark;
		border: none 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 40px;
		z-index: 100;
	}
	.slide-left {
		left: 0;
	}
	.slide-right {
		right: 0;
	}
}