// Paths
$font-path: '../fonts/';
$image-path: '../images/';

// Fonts
$font-size-base: 1.2em;
$fonts-arial: Arial, Helvetica, sans-serif;

// Colors
$black: #000;
$grey: #999;
$grey-dark: #333;
$grey-medium: #666;
$grey-light: #ccc;
$grey-rule: #ddd;
$white: #fff;